  <nav class="navbar" navbar-expand-lg style="background-color: #e3f2fd;"> 
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Meal Prepper</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <% if (user) { %>
            <li class="nav-item">
              <a class="nav-link" href="/meals">Meal Calendar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/meals/new">Add A Meal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/meals/grocerylist">Grocery List</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/grocerylist">Private Page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/google">Log In
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>