<!DOCTYPE html>
<html>

<%- include('./partials/header') %> 

<body>
  <%- include('./partials/navbar') %>
 
  <div class="container-sm">
    <div class="card">
      <div class="card-body">
       <h2 class="card-title" style="color:red">Welcome to <%= title %></h2> 
       <div class="card-text" style="font-size: large">
        Create a meal calendar and automatically aggregate all of your meal ingredients into a grocery list!

        Print it out or use it on your mobile phone. Use your meal calendar as your guide for the week!
       </div>
      </div>
      </div>
    </div>
</div>
 

</body>

</html>