<%- include('./partials/header') %> 

<body>
  <%- include('./partials/navbar') %>
  <!-- set up bootstrap layout syustem--> 
  <div class="container">
    <div class="row">  <h1 class="text-center"><p>Welcome to <%= title %> </h1>  </div>
</div>
  </p>

</body>

</html>