<%- include('./partials/header') %>
<body>
<%- include('./partials/navbar') %> 

  <h2>Grocery List</h2>
  <% meal.forEach(function(meal) { %>
    <%= meal.ingredients %>
  <% }) %> 
  

</body>
</html>