td,
th {
    border: 1px solid #e3f2fd;
    padding: 10px;
}

td {
    text-align: left;
}

tr:nth-child(even) {
    background-color: rgb(246, 253, 255);
}

th[scope="col"] {
    background-color: #e3f2fd;
    color: rgb(137, 137, 137);
}

th[scope="row"] {
    background-color: #d7d9f2;
}

table {
    border-collapse: separate;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 1rem;
    display: inline block;
}


h1 {
    font-family: font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 10px;
}

h5 {
    text-align: center;
}

.newMeal {
    display: inline;
    margin-top: 10px;
    margin-bottom: 10px;
}



.container {
    display: flexbox;
}

.welcome {
    padding-top: 100px;
    color: red;
}

#add-ingredients-form {
    margin-top: 50px;
}

.addIngredientsButton {
    margin-top: 10px;
    margin-bottom: 10px;
}

.saveCheckmarksButton {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bottom {
    
}