<%- include('../partials/header') %>
<body>
<%- include('../partials/navbar') %>

<h2>Enter a New Meal</h2>
<!-- <form id="new-form" action="/meals" method="POST">
  <label>Date:</label>
  <input type="datetime-local" name="dateOfMeal" required>
  <label>Breakfast:</label>
  <input type="text" name="breakfast">
  <label>Lunch:</label>
  <input type="text" name="lunch">
  <label>Dinner:</label>
  <input type="text" name="dinner">
  <label>Snack:</label>
  <input type="text" name="snack">
  <input type="submit" value="Add Daily Meal">
</form> -->
<form id="new-form" action="/meals" method="POST">
<div class="mb-3">
  <label>Date:</label>
  <input type="datetime-local" name="dateOfMeal" required>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Breakfast:</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ex. Eggs, Bacon, Toast" name="breakfast">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Lunch:</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ex. Fried Chicken and Vegetables" name="lunch">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Dinner:</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ex. Baked Salmon and Brown Rice" name="dinner">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Snack:</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ex. Low Carb Ice Cream" name="snack">
</div>
<div class="mb-3">
  <input type="submit" value="Add Daily Meal">
</div>
</form>

</body>