<%- include('../partials/header') %>
<body>
<%- include('../partials/navbar') %>
<div class="container">
<h1>Enter a New Meal</h1>
<!-- <form id="new-form" action="/meals" method="POST">
  <label>Date:</label>
  <input type="datetime-local" name="dateOfMeal" required>
  <label>Breakfast:</label>
  <input type="text" name="breakfast">
  <label>Lunch:</label>
  <input type="text" name="lunch">
  <label>Dinner:</label>
  <input type="text" name="dinner">
  <label>Snack:</label>
  <input type="text" name="snack">
  <input type="submit" value="Add Daily Meal">
</form> -->
<form id="new-form" action="/meals" method="POST">
<div class="mb-3">
  <label><b>Date:</b></label>
  <input type="datetime-local" name="dateOfMeal" required>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"><b>Breakfast:</b></label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ex. Eggs, Bacon, Toast" name="breakfast">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"><b>Lunch:</b></label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ex. Fried Chicken and Vegetables" name="lunch">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"><b>Dinner:</b></label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ex. Baked Salmon and Brown Rice" name="dinner">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"><b>Snack:</b></label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ex. Low Carb Ice Cream" name="snack">
</div>
<div class="mb-3">
  <input type="submit" value="Add Daily Meal">
</div>
</form>
</div>

</body>